version: '2'
services:
  backend:
    build: ./backend
    depends_on:
     - "mongo"
    ports:
     - "3000:3000"

  mongo:
    image: mongo
    volumes:
      - 'qrquest_mongo_data'

  mongoexpress:
    image: mongo-express
    depends_on:
      - "mongo"
    environment:
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=jamnik
    ports:
      - "8081:8081"